.Title { 
    color: #8a5a27; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 60px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #e8e4dc;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: auto;
 }

.right-container {
    background-color: #e8e4dc;
}

hr.new1 {
    border: 1px solid navy;
    width: 100%;
    /* margin: 20 20; */
}

.head-block1 {
    color: #000000; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 150px; 
    font-weight: bold; 
    text-align: center;
    background-color: #7085a1;
}

.text-block1 {
    color: #000000; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 35px;
    /* background-color: #a0c1b9; */
    text-align: center;
    margin: 0px 50px 75px 100px;
    padding-top: 30px;
    font-style: italic;
}

.text-block2 {
    color: #000000; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 40px;
    /* background-color: #a0c1b9; */
    text-align: center;
    /* margin: 0px 50px 75px 100px; */
    padding-top: 50px;
    /* padding-bottom: 30px; */
    /* font-weight: bold;  */
}

.tb1-container {
    background-color: #eaece9;
    margin: 0px;
}

.card-container {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 100px;
    padding-top: 50px;
    background-color: #eaece9;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('./BackgroundImage4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
  }

.masthead2 {
    height: 50vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.fw-light {
    padding-left: 0px;
    padding-top: 150px;
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    color: #000000;
    opacity: 1;
}

.fw-light2 {
    padding-left: 0px;
    /* padding-top: 20px; */
    padding-bottom: 50px;
    text-align: center;
    font-size: 70px;
    /* font-weight: bold; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
    opacity: 1;
}

.fw-light3 {
    padding-left: 100px;
    padding-right: 100px;
    /* padding-bottom: 75px; */
    /* padding-top: 250px; */
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    /* font-size: 75px; */
    font-weight: bold;
    color: #8a5a27;
    opacity: 0.75;
    /* background-color: #7085a1; */
}

.fw-light4 {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 75px;
    padding-top: 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75px;
    font-style: italic;
    /* font-weight: bold; */
    color: #343433;
    opacity: 0.70;
}

.lead2 {
    padding-left: 200px;
    padding-right: 200px;
    /* padding-top: 250px; */
    text-align: center;
    font-style: bold;
    font-size: 25px;
}

.lead {
    padding-left: 0px;
    /* padding-right: 200px; */
    /* padding-top: 250px; */
    text-align: center;
    /* font-style: bold; */
    /* font-size: 75px; */
}

.py-5 {
    background-color: #e8e4dc;
}

.para1 {
    padding-right: 50px;
    font-size: large;
}

.para2 {
    padding-left: 70px;
    font-size: large;
}

.about-footer-container {
    background-color: #eaece9;
    padding-bottom: 30px;
}

.about-footer-h1 {
    text-align: center;
    font-size: 50px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 50px;
}

.card:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.btn-primary, .btn-primary:hover {
    background-color: white !important;
    color: #8a5a27;
    border-color: black;
}

.card {
    background-color: #e8e4dc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #5e3d1a;
    outline-color: antiquewhite;
}

.main-map {
    min-height: 1000px;
}

.obj-base {
    background-color: #e8e4dc;
}

.all-about {
    background-color: #e8e4dc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 85px;
    font-style: italic;
    padding-left: 30px;
    padding-top: 10px;
    color: #8a5a27;

}

.full-desc {
    background-color: #e8e4dc;
    min-height: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.para4 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* padding-left: 20px; */
    text-align: center;
}

.para8 {
    padding-right: 50px;
    font-size: large;
    padding-top: 20px;
}